.doctor-order {  
    border-radius: 10px;  
    padding: 20px;  
    width: 80%;  
    margin: 20px auto;  
    
  }  
  
  .doctor-order h2 {  
    font-size: 24px;  
    text-align: center;  
    color: #333;  
  }  
  
  .doctor-order form {  
    display: flex;  
    flex-direction: column; /* 垂直排列 */  
    gap: 15px; /* 输入框之间的间距 */  
  }  
  
  .doctor-order label {  
    font-size: 16px;  
    color: #555;  
  }  
  
  .doctor-order input,  
  .doctor-order textarea,  
  .doctor-order select {  
    padding: 8px;   
    border-radius: 5px;  
  }  
  
  .doctor-order button {  
    padding: 10px 20px;  
    background-color: #007bff;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
    align-self: flex-start; /* 按钮左对齐 */  
  }  
  
  .doctor-order button:hover {  
    background-color: #0056b3;  
  }