.shift-change-form {  
    max-width: 800px;  /* 增大最大宽度 */  
    margin: 50px auto;  
    padding: 30px;  /* 增加内边距 */  
     
    border-radius: 5px;  
      
  }  
  
  .shift-change-form h2 {  
    text-align: center;  
    margin-bottom: 20px;  
  }  
  
  .form-group {  
    margin-bottom: 15px;  
  }  
  
  .form-group label {  
    display: block;  
    margin-bottom: 5px;  
  }  
  
  .form-group input {  
    width: 100%;  
    padding: 15px;  /* 增加输入框内边距 */  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    font-size: 16px; /* 增大字体 */  
  }  
  
  .submit-button {  
    display: block;  
    width: 100%;  
    padding: 15px;  /* 增加按钮内边距 */  
    background-color: #007bff;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px; /* 增大字体 */  
  }  
  
  .submit-button:hover {  
    background-color: #0056b3;  
  }