.nurse-sidebar {
    width: 180px;
    height: 400px; /* 占满屏幕高度 */
    background-color: #fcfdfe; /* 白色背景 */
    position: fixed; /* 固定在左侧 */
    top: 130px;
    left: 0;
    border-right: 1px solid #6b8ce7; /* 添加右边框 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
    box-shadow: 2px 0 10px rgba(12, 3, 3, 0.1); /* 阴影效果 */
  }
  
  .nurse-sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .nurse-sidebar a:hover {
    background-color: #1890ff; /* 蓝色悬浮背景 */
    color: #fff; /* 白色文字 */
  }